/*
** persian-datepicker - v0.5.5
** Reza Babakhani <babakhani.reza@gmail.com>
** http://babakhani.github.io/PersianWebToolkit/docs/datepicker
** Under WTFPL license 
*/ 

.datepicker-plot-area {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

.datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn {
  transition: all 100ms ease; }

.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable {
  border-radius: 0; }

.datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn {
  border-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.datepicker-plot-area .datepicker-time-view .down-btn {
  border-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }

.datepicker-plot-area, .datepicker-plot-area .datepicker-time-view > .time-segment {
  border-radius: 6px; }

.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
  border-radius: 3px; }

.datepicker-plot-area {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-time-view > .time-segment, .datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-header .btn-next,
.datepicker-plot-area .datepicker-header .btn-switch,
.datepicker-plot-area .datepicker-header .btn-prev, .datepicker-plot-area .toolbox .btn-today {
  cursor: pointer; }

.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
  font-size: 14px;
  background-color: #fff;
  color: #333;
  border: 0;
  text-shadow: none; }

.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable {
  background-color: #f1f1f1;
  color: #ccc;
  border: none;
  text-shadow: none;
  cursor: default;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;}

.datepicker-plot-area .datepicker-day-view .table-days td span.today {
  background-color: #333;
  color: #fff;
  border: 0;
  text-shadow: none; }

.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
  background-color: "";
  color: #ccc;
  border: none;
  text-shadow: none;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;}

.datepicker-plot-area .datepicker-day-view .table-days td span.selected, .datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item.selected {
  background-color: #213875;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 1px #000; }

.datepicker-plot-area .datepicker-day-view .table-days td span.selected:hover, .datepicker-plot-area .datepicker-day-view .table-days td span:hover, .datepicker-plot-area .datepicker-year-view .year-item:hover,
.datepicker-plot-area .datepicker-month-view .month-item:hover {
  background-color: #213875;
  color: #fff;
  border: 0;
  text-shadow: none; }

.datepicker-container {
  position: absolute;
  z-index: 100000;
  top: 0; }

.datepicker-plot-area {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 70px;
  display: block;
  width: 200px;
  min-width: 200px;
  padding: 0 5px;
  position: absolute;
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: #fff; }
  .datepicker-plot-area table,
  .datepicker-plot-area th,
  .datepicker-plot-area td {
    border: 0;
    background: none; }
  .datepicker-plot-area * {
    text-align: center;
    color: #213875; }
  .datepicker-plot-area .datepicker-day-view,
  .datepicker-plot-area .datepicker-month-view,
  .datepicker-plot-area .datepicker-year-view {
    display: block;
    width: 100%;
    float: left;
    min-height: 160px;
    margin: 0; }

.datepicker-plot-area-inline-view {
  display: block;
  width: 100%;
  position: static;
  float: left; }

.datepicker-plot-area .datepicker-time-view {
  display: block;
  float: left;
  width: 60%;
  height:70px;
  padding: 5px 1%;
  margin: 3px 0;
  background: #fff;  }
  .datepicker-plot-area .datepicker-time-view > .time-segment {
    display: block;
    width: 22%;
    height: 60px;
    float: left;
    overflow: hidden; }
    .datepicker-plot-area .datepicker-time-view > .time-segment:hover .down-btn,
    .datepicker-plot-area .datepicker-time-view > .time-segment:hover .up-btn {
      font-weight: bold;
      background-color: #fff; }
  .datepicker-plot-area .datepicker-time-view .divider {
    display: block;
    width: 3%;
    height: 60px;
    line-height: 60px;
    float: left;
    overflow: hidden;
    font: 12px bold; }
    .datepicker-plot-area .datepicker-time-view .divider span {
      height: 60px;
      line-height: 60px; }
  .datepicker-plot-area .datepicker-time-view .down-btn,
  .datepicker-plot-area .datepicker-time-view .up-btn {
    display: block;
    width: 20px;
    height:20px;
    margin: 0 auto;
    line-height: 18px;
    font-size:10px;
    padding: 2px 1px 0 0;
    background-color: #daf0f6;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    color: #213875; }
    .datepicker-plot-area .datepicker-time-view .down-btn:hover,
    .datepicker-plot-area .datepicker-time-view .up-btn:hover {
      background-color: #eee;
      color: #807f7f; }
  .datepicker-plot-area .datepicker-time-view input {
    display: block;
    width: 90%;
    margin: 0 5%;
    height: 20px;
    padding: 0;
    outline: none;
    border: none;
    background: #fff; }

.datepicker-plot-area .datepicker-day-view .table-days {
  width: 100%;
  float: left;
  direction: rtl; }
  .datepicker-plot-area .datepicker-day-view .table-days tr {
    width: 300px; }
  .datepicker-plot-area .datepicker-day-view .table-days td {
    height: 26px;
    padding: 2px;
    margin: 0; }
    .datepicker-plot-area .datepicker-day-view .table-days td span {
      display: block;
      height: 26px;
      width:26px;
      line-height: 26px;
      padding: 0;
      margin: 0 auto;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      background-color: #daf0f6;
    }

.datepicker-plot-area .datepicker-day-view .month-grid-box {
  display: block;
  width: 100%;
  float: right;
  min-width: 150px;
  height: 164px;
  margin: 10px 0; }
  .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row {
    display: block;
    width: 100%;
    height: 25px;
    float: left;
    color: #213875;}
  .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14%;
    height: 25px;
    float: right;
    line-height: 25px;
    text-indent: 6px;
    font-size: 14px;
    font-weight: bold;  }

.datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
  display: block;
  width: 33.333333%;
  margin: 2px 0 0;
  float: right;
  height: 36px;
  line-height: 34px; }

.datepicker-plot-area .datepicker-header {
  display: block;
  width: 100%;
  height: 30px;
  float: left;
  padding: 3px 0 0;
  margin-bottom: 8px; }
  .datepicker-plot-area .datepicker-header .btn-next,
  .datepicker-plot-area .datepicker-header .btn-switch,
  .datepicker-plot-area .datepicker-header .btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    padding: 0; }
    .datepicker-plot-area .datepicker-header .btn-next:hover,
    .datepicker-plot-area .datepicker-header .btn-switch:hover,
    .datepicker-plot-area .datepicker-header .btn-prev:hover {
      background-color: #eee; }
  .datepicker-plot-area .datepicker-header .btn-next {
    display: block;
    width: 15%;
    float: left; }
  .datepicker-plot-area .datepicker-header .btn-switch {
    display: block;
    width: 66%;
    margin: 0 2%;
    float: left; }
  .datepicker-plot-area .datepicker-header .btn-prev {
    display: block;
    width: 15%;
    float: left; }

.datepicker-plot-area .toolbox {
  display: block;
  float: left;
  padding: 3px 0;
  width: 40%;
  height:70px;
  background-color: #fff;}
  .datepicker-plot-area .toolbox .btn-today {
    background-color: #fff;
    display: block;
    font-weight: bold;
    height: 30px;
    margin: 18px auto;
    width: 110px;
    border: 1px solid #213875;
    line-height: 28px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;}
    .datepicker-plot-area .toolbox .btn-today:hover {
      background-color: #eee; }

.datepicker-plot-area .datepicker-header {
  display: block;
  width: 100%;
  height: 30px;
  float: left;
  padding: 3px 0 0;
  margin-bottom: 8px; }
  .datepicker-plot-area .datepicker-header .btn-next,
  .datepicker-plot-area .datepicker-header .btn-switch,
  .datepicker-plot-area .datepicker-header .btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: #fff;
    color: #213875;
    padding: 0; }
    .datepicker-plot-area .datepicker-header .btn-next:hover,
    .datepicker-plot-area .datepicker-header .btn-switch:hover,
    .datepicker-plot-area .datepicker-header .btn-prev:hover {
      background-color: #eee; }
  .datepicker-plot-area .datepicker-header .btn-next {
    display: block;
    width: 15%;
    float: left; }
  .datepicker-plot-area .datepicker-header .btn-switch {
    display: block;
    width: 66%;
    margin: 0 2%;
    float: left; }
  .datepicker-plot-area .datepicker-header .btn-prev {
    display: block;
    width: 15%;
    float: left; }
