
@font-face {
	font-family: 'IRANSans';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zgi9af');
  src:  url('fonts/icomoon.eot?zgi9af#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zgi9af') format('truetype'),
    url('fonts/icomoon.woff?zgi9af') format('woff'),
    url('fonts/icomoon.svg?zgi9af#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-arrowleft:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-convert:before {
  content: "\e903";
}
.icon-datetime:before {
  content: "\e904";
}
.icon-dropdown:before {
  content: "\e905";
}
.icon-moon:before {
  content: "\e906";
}
.icon-mosque:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e908";
}
.icon-previous:before {
  content: "\e909";
}
.icon-sandclock:before {
  content: "\e90a";
}
.icon-sun:before {
  content: "\e90b";
}
.icon-taatil:before {
  content: "\e90c";

}
.icon-tick:before {
  content: "\e90d";
}
body{
    font-family: IRANSans;
    margin: 0;
    padding: 0;
}
html{
    font-family: IRANSans;
    margin: 0;
    padding: 0;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.lttpadding{
    padding: 0 5px;
}
svg {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filler {
  position: absolute;
  bottom: 50%;
  top: 0;
  left: 0;
  right: 0;
}

.digit-class {
    margin:50px auto;
    width:200px;
    height:80px;
    border-radius:15px;
    color:#ecf0f1;
    text-align:center;
    line-height:180px;
    font-size:50px;
    position: absolute;
    top: 43%;
    left: 50%;
    margin-left: -100px;
}
.brand-logo img{
    width: 150px;
    height: auto;
    float: left;
    margin-top: 6px;
}
.navbar{
    border: none;
}
.navbar-default{
    background-color: white;
    border: none;
    }
    
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
    background-color: white;
    height: 70px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    height: 70px;
    border: none;
    margin: 0;
    width: 96%;
}

.header-titles{
    float: right;
    direction: rtl; 
    padding-top: 20px;
    text-align: center;

}
.navbar-default .navbar-toggle {
 
    margin-top: 18px;
}
.navbar-right a {
    text-decoration: none;

}
.navbar-right a:hover {
    border-bottom:  6px solid #ade9dd;
}
.icon-datetime{
    color: #ade9dd;
    font-size: 25px;
    
}
.header-text{
    color: #6e77a0;
    font-size: 18px;
   margin: 0 0px 0 50px;
    font-family: IRANSans;
    
}
.icon-mosque{
    color: #fcb543;
    font-size: 25px;
}

.icon-convert{
    color: #6dc4e6;
     font-size: 25px;
}
.icon-sandclock{
     color: #e978b0;
     font-size: 25px;
}
.clock-box-right{
    width: 100%;
    height: 600px;
    background-color: #485389;

}
.date-box-left{
  width: 100%;
    height: 600px;
    background-color: #ade9dd;
/*    margin: -17px auto 0 auto;*/
}
.nav.navbar-nav.navbar-right{
    padding: 0 !important;
    margin-right: -15px;
}
.azan-times-box{
    width: 100%;
    background-color: #e4e57f;
    height: 100%;
    margin-bottom: 30px;   
    display: block;
}
.city-zone{
    margin: 0 auto;
    text-align: center;
}
.select-part-azan-time{
    margin: 40px auto;
}
.title-select-boxes{
    height: 50px;
    float: right;
    margin: 0 auto;
    margin-right: -30px;
}
.pp{
    padding-bottom: 30px;
}
.title-select-boxes span {
    color: white;
    font-weight: bold;
    font-size: 20px;
    float: right;
    border-bottom:  5px solid white;
    padding-bottom: 10px;
    margin-top: 10px;
}

.select-zone{
    background-color: white;
    border-radius: 25px;
    width: 100%;
    height: 40px;;
    margin: 20px auto;
        border: none;
    direction: rtl;
    padding: 10px;
    outline: none;
}
.select-city{
     background-color: white;
    border-radius: 25px;
    width: 100%;
    height: 40px;;
    margin: 20px auto;
    border: none;
     padding: 10px;
    outline: none;
}
.city{
    direction: rtl;
}
.azan-time-tables{
    height: auto;
    margin: 0 auto;
    color: #70703d;
    font-size: 18px;
  
}
.azan-time-xs-sun{
    color: white;
    float: right;
    font-size: 55px;
    display: none;
}
.azan-time-masq{

    height: auto;
    margin: 0 auto 10px auto;
    text-align: center;
}
.azan-time-masq img{
    width: 100%;
    height: auto;
}
.moon{
    height: 85px;
}
.table-time{
    margin: 0 auto;
    text-align: center;
    direction: rtl;
    float: right;
}
.table-time td{
    text-align: right;
    padding-right: 15px;
    padding-top: 25px;
    
}
.convert-button-xs{
    display: none;
    background-color: #01a0e2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    margin: 0 auto;
    text-align: center;
    border: none;
    outline: none;
    padding-top: 10px;
    font-size: 18px;
    margin: 40px auto;
}
.table-time tr{
    text-align: center;
    padding: 10px;
}
.table-time2{
    margin:0 auto;
    text-align: center;
    direction: rtl;
    float: right;
}
.time-bold{
    font-weight: bold;
}
.table-time2 td{
    padding-top: 25px;
    text-align: right;;
    padding-right: 15px;
    
}
.table-time2 tr{
    text-align: center;
    padding: 10px;
}
.conver-date-box{
    background-color: #f1f0f5;
    height: auto;
    padding-bottom: 65px;
}
.title-conver-date-box span{
    text-align: center;
    color: #475387;
    border-bottom:  3px solid #01a0e2;
    padding-bottom: 30px;
    font-size: 23px;

}
.title-conver-date-box{
     padding-top: 30px;
    text-align: center;
    height: 100px;
    direction: rtl;
     height: 110px;
    
}
.conver-date-select-date{
    width: 100%;
    height: auto;
    background-color: #485389;
    direction: rtl;
    color: white;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 13px;

}
.convert-date{
    float: right;
}
.select-day{
    width: 100%;
    height: auto;
    background-color: #485389;
    direction: rtl;
    color: white;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 25px;
}
.days{
    padding: 0 2px;
}
.select-day{
    margin-top: 20px;
    float: right;
}
.convert-button{
    color: white;
    text-align: center;
    background-color: #01a0e2;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 35px;
    direction: rtl;
    margin: 40px auto;
    width: 131px;
    height: 61px;
    font-size: 18px;
    
}
.convert{
        margin: 0 auto;
    text-align: center;
}
.convert-table-box{
color: #535d90;
background-color: white;
    direction: rtl;
    border-radius: 15px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
}
.convert-table-box table{
    margin: 0 auto;
    width: 100%;
}
.convert-table-box td{
    border-bottom: 3px solid #f1f0f5;
    text-align: center;
    padding: 15px 
}
.convert-table-box tr{
    padding: 15px;
}
.today-event-box{
    background-color: white;
    width: 100%;
    height: auto;
}
.today-event-books-left img{
    margin-top: 100px;
    width: 140px;
    height: auto;
    float: left;
}
.iran-event{
    background-color:#e877af;
    float: right;
    color: #935c90;
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 100px;
}
.word-event{
    background-color:#f1f0f5;
    color: #935c90;
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 100px;
}
.today-event-box-events ul{

    margin-left: 15px;
    
}
.today-event-box-events{
  
    direction: rtl;
    margin: 0 auto !important;
    font-size: 16px;
    text-align: justify;
    padding-top: 35px;
}
.today-event-box-events  li span {
   color: #475288;
}
.today-event-box-events  li{
    color: #e879ae;
    line-height: 3;
}


.today-event-box-events-word ul{

    margin-left: 15px;  
}
.today-event-box-events-word{
  
    direction: rtl;
    margin: 0 auto !important;
    font-size: 16px;
    text-align: justify;
    padding-top: 35px;
}
.today-event-box-events-word  li span {
   color: #475288;
}
.today-event-box-events-word  li{
    color: #e879ae;
    line-height: 3;
}
.rectangle-pink{
    width: 250px;
    height: 550px;
    background-color: #e877af;
}
.triangle-white{
width:0;
height:0;
    border-bottom: 100px solid white;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    position: absolute;
    top: 82%;
}
.ractangle-books img{
      width: 220px;
    height: auto;
    position: absolute;
    top: 70%;
    left: 30px;
}
.see-your-birth-day-events{
   width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color:#e877af;
    color: white;
    border-radius: 35px;
    border: none;
    outline: none;
    overflow: hidden;
    height: 80px;
    padding: 5px;
    margin-bottom: 30px;
}
.baloon1{
     position: absolute;
    top: 6%;
    right: 9%;
}
.baloon2{
      position: absolute;
    top: 1%;
    left: 8%;
}


. birthday-event{
    width: 100%;
    height: auto;
}
.see-your-birth-day-events img{
    width: 55px;
    height: auto;
}
.see-your-birth-day-events span{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 23%;
    right: 28%;
     font-size: 18px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: #485389;
}
.footer-links{
    color: white;
    direction: rtl;
    float: right;
    margin: 40px auto 0 auto;
    font-size: 11px;
}
.footer-links a{
    text-decoration: none;
    color: white;
    
}
.footer-logo{
    margin:35px auto;
    text-align: center;
    float: right;
}
.footer-logo img{
    width: 130px;
    height: auto;
}
.footer-copy-right{
    color: white;
    margin: 40px auto 0 auto;
    float: left;
    direction: ltr;
    font-size: 12px;
}
.footer-copy-right span{
    padding: 0 5px; 
  
}
.event-box-title{
    height: 50px;
    margin:0 auto;
    text-align: center;
   padding-top: 30px;
}
.event-box-title span {
     color:#485389;
    border-bottom: 5px solid #e877af;
    padding-bottom: 20px;
    font-size: 23px;

}
.azan-time-box-bottun{
    width: 100%;
    height: auto;
}
.calender-table{
    direction: rtl;
    margin:60px auto 30px auto;
    text-align: center;
    height: auto;
    
    
}
.calender-table td{
    padding: 5px;
     color: #ade9dd !important;
    font-size: 16px;
    
}
.holiday-table{
    color:#e8534d !important;
    font-size: 16px !important;
}
.ltt-boxes-table{
    padding: 8px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
   background-color: white;
    padding-top: 12px;
}
.th-table td{
    color: white !important;
    font-weight: bold;
}
.icon-taatil{
    color: #e8534f;
    font-size: 11px;
}
.calender-table a{
    text-decoration: none;
     color: #ade9dd !important;
}
.calender-table a:hover .ltt-boxes-table{
    text-decoration: none;
    background-color: #485389;
    color: white !important;
}
.calender-table a:hover .next-month{
    text-decoration: none;
    background-color: #485389;
    color: white !important;
    border: 1px solid white;
}
.next-month{
    background-color: transparent !important;
    color: #89c0b6 !important;
    border: 1px solid #89c0b6;
}
.pesrian-calender{
    direction: rtl;
    font-size: 25px;
    margin:0px auto;
    text-align: center;
    width: 100%;
    height: auto;
}
.second-pesrian-calender{
    padding: 30px 0;
    
}
.second-display-cal{
    display: none;
}
.pesrian-calender-day{
    color:white; 
}
.pesrian-calender-month{
    color: #485389;
}
.button-miladi-ghamari{
    direction: rtl;
    color:#485389;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    
}
.miladi-calener{
    float: left;
    text-align: right;
    padding-top: 10px;

  
}
.ghamari-calener{
    float: right;
    text-align: left;
    margin-right: -20px;
    padding-top: 10px;
}
.calender-buttom{
    direction: rtl;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.calender-buttom-month{
    background-color: white;
    color: #485389;
    padding: 15px;
    width: 100%;
    height: auto;
    text-align: center;
    border: none;
    border-radius: 30px;
    outline: none;
    
}
.tooltip {
  font-family:IRANSans;
     font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #485389;
  border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
      border-top-color:#485389;
}

@media (max-width: 768px){
.header-text {
    display: none;
}
.nav>li{
    display: inline-block;
    float: left;
    padding: 0 25px;
    }

}
/*
.icon-previous,.icon-next{
    font-size: 35px;
    color: white;
   position: relative;
    top: 38%;
}
.icon-previous{
    direction: rtl;
}
*/
.second-part-white-box{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
    padding: 30px 0;
    text-align:right;
    direction: rtl;
    overflow: auto;
    padding-right: 20px;
}
.second-part-ltt-date-box{
    width: 100%;
    height: 100%;
    font-size: 13px;
    border-radius: 5px;
    background-color: #ade9dd;
    direction: rtl;
    text-align: right;
    line-height: 2;
    float: right;
    margin:10px 0;
    text-align: center;
   padding: 0 4px;
    

}
.second-part-text{
    direction: rtl;
    margin:10px 0;
    height: 100%;
    padding-right: 10px;
}
.holiday-box{
    color: white;
    background-color: #ea524d !important;
}
.lines{
    display: block;
}
.date-box-number{
    text-align: center;
    margin: 0 auto;
}
.close-second-part{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #cfefea;
    color:white;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 18px;
   
}
.icon-close{
    position: relative;
    top: 3px;
    font-size: 14px;
    left: 27%;
}
.sun-2,.moon-1,.moon-2{
    display: none;
}
.today-event-box-events-word{
    display: none;
}
.second-see-your-birth-day-events{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color:#f1f0f5;
    color: white;
    border-radius: 35px;
    border: none;
    outline: none;
    overflow: hidden;
    height: auto;
    padding: 5px;
    direction: rtl;
    float: right;
    padding-top: 30px;
    display: none;
    margin-bottom: 30px
}
.second-see-your-birth-day-events span{
    color: #485389;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 20px;

}
.select-day-BD{
    border: none;
    background-color: #485389;
    border-radius: 20px;
    outline: none;
    height: 50px;
    width: 120px;
    padding: 0 20px;
}
.baloon3{
    position: absolute;
    top: 6%;
    right: 9%;
  width:70px;
}
.baloon4{
      position: absolute;
    top: 1%;
    left: 8%;
    width: 70px;
    
}

.tick-BD{
    background-color: #00bbc2;
    padding-top: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
}
.icon-tick{
     color:white !important;
}
.select-BD{
    margin-top: 30px;
    direction: rtl;
    
}
/*----------------------backgorund colors for use in the diff times--------------------------- */
/*
.sun-2-background{
    background-color: #fbb545;
}
.moon-1-background{
    background-color: #21374f;
}
.moon-2-background{
   background-color: #0e2335;
}


*/
/*----------------------backgorund colors for use in the diff times--------------------------- */


@media only screen and (max-width:830px){
    .convert-date{
    float: none;
}
    .azan-time-tables{
        font-size: 15px;
    }
    .brand-logo img {
    width: 119px !important;
        margin-top: 5px !important;
    }
}
@media only screen and (max-width:1055px){
    .header-text {
    font-size: 13px;
    margin-left:  20px;
}
}
@media only screen and ( max-width:480px){

    .calender-table td,.holiday-table{
        font-size: 12px !important ;
    }
    .convert-button-xs{
        display: block;
    }
    .convert-button{
        display: none;
    }
    
    .nav>li{
    padding: 0 11px;
    }
    .brand-logo img {
    width: 100px !important;
    margin-top: 14px !important;
    margin-left: -14px;
    }
    .title-select-boxes span{
        margin-top: 0px;
        margin: 0 auto;
        text-align: center;
    }
    .title-select-boxes > span{
      float: none !important;
      margin: 0 auto!important;
        text-align: center;
        
    }
    .title-select-boxes{
      float: none !important;
      margin: 0 auto!important;
      text-align: center;
        
    }
    .azan-time-xs-sun{
        display: block;
    }
    .convert-table-box{
        font-size: 12px;
    }
    .baloon2,.baloon3,.baloon4{
        display: none;
    }
    .see-your-birth-day-events span{
        font-size: 16px;
        top:28%;
    }
    .moon{
        display: none;
    }
    .azan-time-masq{
        display: none;
    }
    .table-time{
        margin-top:-25px  !important;
        margin-bottom: 10px;
    }
    .table-time2 td, .table-time td{
        padding-top: 20px;
    }
}